<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить данные</title>
</head>
<body>
<a th:href="@{'/app/list'}">HOME</a>
<form method="post">
    <p> Ведите новые данные для записи </p>
    <input name="name" placeholder="Type name here" th:value="${addressPerson.name}"/>
    <p>
    </p>
    <input name="address" placeholder="Type address here" th:value="${addressPerson.address}"/>
    <p>
        <button>Отправить</button>
    </p>
</form>
</body>
</html>